body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  /* agrupando as informações do background (short hand ou atalho): 
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
 */
}

body * {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  border: 2px solid red;
  margin: auto;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}