body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  /* agrupando as informações do background (short hand ou atalho): 
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
 */
}

#container {
  width: 360px;
  height: 712px;
  border: 2px solid red;
  margin: auto;
}